@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');


#app,
.main-layout {
    min-height: 100%;
    display: block;
    height: inherit;
}

body {min-width: auto;}
.ui.full.height {
  // min-height: 100vh;
  min-height: 100%;
}
.pushable > .pusher { padding-bottom: 55px;}

// Sidebar
.ui.sidebar ~ .pusher {
    transition: 500ms ease, -webkit-transform 500ms ease;
}

// Bottom Bar
.ui.bottom.sidebar {
  overflow-y: visible !important;
}

/* Desktop */
@media screen and (min-width: 770px) {
    .pusher.pushed {
        padding-right: 260px;
    }
}

.pointer {
  cursor: pointer;
}

.half-opacity {
  opacity: .5;
}

// Sticky bottom bar
// .ui.vertical.menu.ui.sidebar.bottom.visible {
//     position: sticky !important;
//     bottom: 0 !important;
// }


// Player
.plyr__progress input {
  cursor: pointer;
}

.plyr--audio .plyr__controls {
  background: transparent !important;
}

// Fix Card Images
@media screen and (min-width: 770px) {
  .ui.cards .card {
    display: flex;
    flex-flow: row;
    width: 80%;
    max-width: 770px;

    .image {
      max-width: 300px;
      align-self: stretch;

      img {
        height: 100%;
        object-fit: cover;
        border-radius: 0;
      }
    }
  }
}

// Custom Player Wrapper
.cstm-plyr-wrp {
  position: absolute;
  padding-left: 45px;
  padding-right: 205px;

  @media screen and (max-width: 770px) {
    padding-right: 125px;
  }

  &,
  & > .inner {
    width: 100%;
    height: 100%;
  }

  & > .inner {
    position: relative;
  }

  // Title
  .title {
    position: absolute;
    z-index: 2;
    font-size: 11px;
    margin: 3px 6px 0;
    color: #585858;
    font-weight: bold;
    letter-spacing: 0.02em;
    pointer-events: none;
  }

}


// Comments
.cmts {
  display: none;
}

@media screen and (min-width: 770px) {

  .cmts {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .cmt {
    background: rgb(102 153 191 / 34%);
    height: 100%;
    position: absolute;
    width: 15px;
    border-radius: 5px;
    border: 5px solid white;
    top: 0;
    z-index: 1;

    & > span {
      position: absolute;
      left: 0;
      right: 0;
      opacity: 0;
    }

    &:hover,
    &.active {
      background: rgb(102 153 191 / 75%);
      .pointer.outer {
        opacity: 1;
      }
    }

    .pointer {
      &.outer {
        position: relative;
        opacity: 0;
        pointer-events: none;
      }

      &.inner {
        position: absolute;
        bottom: 100%;
        min-width: 150px;
        max-width: 350px;
        left: 0;
        right: 0;
        width: 100%;
        transform: translateX(-50%);
        text-align: left;
        background: #fff;

        padding: 8px 16px;
        border-radius: 4px;
        box-shadow: 0 2px 9px -4px rgba(0, 0, 0, 0.51);

        .txt {
          color: #4d4d56;
          padding: 0;
          margin: 0;
        }
        .author {
          color: rgba(0, 0, 0, 0.51);
          font-weight: bold;
          text-align: right;
          font-size: .8rem;
          line-height: .9rem;
          margin: 5px 0 0;
        }
      }
    }


  }
}


